.body {
  background-color: white;
}

.a {
  color: white;
}

.nav-wrapper {
  background-color: green;
  padding: 15px;
}

#buttons {
  color: white;
}

#large-logo {
  margin: auto;
  width: 65%;
  /*border: 3px solid green;*/
  padding: 70px;
  display: block;
}

.intro {
  color: blue;
  font-size: 1.2em;
  margin: 2%;
  display: block;
  text-align: center;
}

.tag-line {
  color: green;
  font-size: 1.2em;
  margin: 2%;
  display: block;
  text-align: center;
}

.error {
  color: red;
  background-color: yellow;
}

.greeting {
  color: #FF5b5c;
  display: block;
  text-align: center;
}

.sport-question {
  font-size: 1.5em;
  color: #ff9037;
  display: block;
  text-align: center;
}

.content {
  margin: 0.25em auto;
  vertical-align: top;
  /*border: 1px solid green;*/
  display: inline-block;
  width: 32%;
  float: left;
  text-align: center;
  font-size: 1.5em;
}
