.body {
  background-color: white;
}

.a {
  color: white;
}

.nav-wrapper {
  background-color: green;
  padding: 15px;
}

#buttons {
  color: white;
}

#large-logo {
  margin: auto;
  width: 65%;
  /*border: 3px solid green;*/
  padding: 50px;
  display: block;
}

.intro {
  color: blue;
  font-size: 1.2em;
  margin: 2%;
  display: block;
  text-align: center;
}

.tag-line {
  color: green;
  font-size: 1.2em;
  margin: 2%;
  display: block;
  text-align: center;
}

/*.nav{
position: static;
width: 100%;
background-color: green;
height: 100px;
}*/

.error {
color: red;
background-color: yellow;
}
