<form action="/users" method="POST">
  <lable>Username:</lable>
  <input type="text" name="user[user_name]" placeholder="make a username">
  <p></p>
  <lable>First Name:</lable>
  <input type="text" name="user[first_name]" placeholder="first name">
  <p></p>
  <lable>Last Name:</lable>
  <input type="text" name="user[last_name]" placeholder="last name">
  <p></p>
  <lable>Email:</lable>
  <input type="email" name="user[email]" placeholder="email address">
  <p></p>
  <lable>Password:</lable>
  <input type="password" name="user[password]" placeholder="create password">
  <p></p>
  <lable>Submit:</lable>
  <input type="submit" value="let's dribble">
</form>
