
<p class=greeting> Hello <%=@user.first_name%>! Welcome to Backcourt Dribble. Glad you are here.</p>

<h1 class="sport-question">Which sport would you like to dribble through?</h1>

<h2>Soccer</h2>
<h2>Baskeball</h2>
<h2>Tennis</h2>
