
<div>
<img id="large-logo" src="visual_assets/backcourtdribble.jpg" alt="Backcourt Dribble Logo" >
</div>
<h1 class="intro">Backcourt Dribble is a way of interacting with women's sports through trivia.</h1>
<h2 class="tag-line">Deepen your knowledge with questions about your favorite sport. Level up and compare results. Most importantly, have fun!</h2>
