<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>

</head>

<body>

  <header>
    <nav class="nav-wrapper">
      <%if session[:id]!=nil%>

        <form action="/sessions" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="sign out here my friend">
        </form>

      <%else %>
        <div id="buttons">
          <a href="/users/new" class="register">register</a>
          <a href="/sessions/new">login</a>
        </div>
      <%end%>
    </nav>
  </header>



  <% if @errors && @errors.any? %>
    <%= erb :"_errors" %>
  <% end %>


  <%= yield %>
</body>
</html>
